<div class="tab-panel" data-tab="biography">
<div class="biography-panel">

  <div class="bio-field">
    <label>Biography</label>
    <textarea name="system.biography"
              class="bio-textarea"
              rows="8"
              {{#unless isEditable}}disabled{{/unless}}>{{system.biography}}</textarea>
  </div>

  <div class="bio-field">
    <label>Notes</label>
    <textarea name="system.notes"
              class="bio-textarea"
              rows="8"
              {{#unless isEditable}}disabled{{/unless}}>{{system.notes}}</textarea>
  </div>

</div>
</div>
